body {
	font-family: 'Play', sans-serif;
	transition: background-color 1s
}

#header {
	border:1px solid black;
	height: 90px;
	text-align: center;
}

#newUser {
	height: 55px;
	width: 200px;
	text-align: center;
	margin: 10px 0px;
	border-radius: 20px;
	border:1px solid black;
}

#user > h1, #wins, #loses {
	display: inline-block;
	padding:20px 45px;
	font-size: 3em;
}

#main {
	margin:0 auto;
	width: 910px;
}

#playerOne, #messageboard, #playerTwo {
	min-width: 300px;
	min-height: 300px;
	border-top:5px solid black;	
	float: left;
}

.clearfix {
	clear: both;
}

#choiceContainer {
	text-align: center;
}

#choiceContainer ul {

}

#choiceContainer ul li {
	font-size: 1.3em;
	color: white;
	display: inline-block;
	width: 33.3333%;
	padding:25px 0px;
	background-color: rgba(0,0,0,.4);
	transition: background-color .3s;
}

#choiceContainer li:hover {
	background-color: rgba(0,0,0,.7);
}

.imageHolder {
	overflow: hidden;
	margin: 0 auto;
	width: 210px;
}

#leftImageDiv, #rightImageDiv {
	width: 210px;
	height: 220px;
	background: url(../images/sprites.png) no-repeat;
}

#leftImageDiv {
	background-position: -10px 0;
}

#rightImageDiv {
	background-position: -10px -197px;
}

#playerOne, #playerTwo {
	background-color: rgba(0,0,0,.5);
	transition: background-color 2s;
}

#commentSection {
	width: 600px;
	margin: 0 auto;
}

#comments {
	min-height: 200px;
	border:1px solid red;
}
